
$tipografia-general: 'Noto Kufi Arabic';
$color-tipografia-principal:  black;

$medidas:(
medida-principal: 2vh,
medida-secundario: 3vh,
medida-tercera:4vh,
medida-cuarta: 5vh,
medida-quinta:6vh,
medida-sexta: 90vh,
medida-septima: 25vh,
medida-octava: 20vh,
medida-novena: 8vh,
);

$fondo-principal: skyblue;
